
@{
    ViewData["Title"] = "CustomerBalance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section HeadingText {
    <div class="page-title-heading text-dark text-center">
        .:: Party Balace Report ::.
    </div>

}

<script src="~/js/views/customer/customerbalance.js"></script>
<style type="text/css" media="print">
    @@page {
        size: auto; /* auto is the initial value */
        margin: 2mm 4mm 2mm 2mm; /* this affects the margin in the printer settings */
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
</style>

<div class="row">
    <div class="col-sm-2">
        <input type="button" class="btn btn-outline-primary" value="Print/PDF"
               id="btPrint" onclick="createPDF()" />
    </div>

    
    <div class="col-sm-2">
        <input type="button" class="btn btn-info  btn-block FilterCust" value="All"
               id="btnAll" />
    </div>

    <div class="col-sm-2">
        <input type="button" class="btn btn-success btn-block FilterCust" value="Active"
               id="btnActive" />
    </div>

    <div class="col-sm-2">
        <input type="button" class="btn btn-dark  btn-block FilterCust" value="DeActive"
               id="btnDeActive" />
    </div>

    <div class="col-sm-2">
        <input type="text" value="Select Sub Category" class="form-control FilterCust" disabled />
    </div>
    <div class="col-sm-2">
        <input data-tab="2" type="text" class="form-control FilterCust" id="txtSubCategory" placeholder="" list="dltxtSubCategory">
        <datalist id="dltxtSubCategory">
        </datalist>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <span id="spInfo">

        </span>
    </div>
</div>


<div class="row" id="tab" style="background-color:white !important;">
    <div class="col-sm-12">
        <style>
            .CSSTableGenerator {
                margin: 0px;
                padding: 0px;
                width: 100%;
                border: thin solid #000000;
            }

                .CSSTableGenerator table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    padding: 0px;
                }


                .CSSTableGenerator tr:nth-child(odd) {
                }

                .CSSTableGenerator tr:nth-child(even) {
                }

                .CSSTableGenerator td {
                    vertical-align: middle;
                    border: thin solid #000000;
                    border-width: 0px thin thin 0px;
                    text-align: left;
                    padding: 2px;
                    font-size: .8em;
                    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                    font-weight: normal;
                }

                .CSSTableGenerator tr:last-child td {
                    border-width: 0px thin 0px 0px;
                }

                .CSSTableGenerator tr td:last-child {
                    border-width: 0px 0px thin 0px;
                }

                .CSSTableGenerator tr:last-child td:last-child {
                    border-width: 0px 0px 0px 0px;
                }

                .CSSTableGenerator tr:first-child td {
                    border: 0px solid #000000;
                    text-align: center;
                    border-width: 0px 0px thin thin;
                    font-size: 0.8em;
                    font-family: Arial;
                    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                    color: black;
                }

                    .CSSTableGenerator tr:first-child td:first-child {
                        border-width: 0px 0px thin 0px;
                    }

                    .CSSTableGenerator tr:first-child td:last-child {
                        border-width: 0px 0px thin thin;
                    }

            .CSSTableGenerator2 {
                margin: 0px;
                padding: 0px;
                width: 100%;
            }

                .CSSTableGenerator2 tr:nth-child(odd) {
                    text-align: center;
                }

                .CSSTableGenerator2 tr:nth-child(even) {
                    text-align: center;
                }


            .tdClass {
                color: #666;
                font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                font-weight: bold;
                text-align: left;
            }
        </style>
        @*<div class="tdClass"><span>Receive Challan No :</span>@Model.ReceiveMain.REceiveNo </div>*@

    <div class="col-sm-12" style="text-align:center">

        <p>
            <strong>   @TempData["CompanyName"].ToString();</strong><br />
            @TempData["CompanyAddress"].ToString();<br>
            <span id="spTitle"></span><br />
        </p>
        <p style="text-align:left;">
          
            <span>Party Name :  @TempData["CustName"].ToString()</span><br />
            <span>Shop Name :  @TempData["ShopName"].ToString()</span> , @TempData["Address"].ToString()
        </p>
    </div>
    </div>


    <table id="tblOrder" class="CSSTableGenerator" style="margin:auto 5px auto 5px;">
    </table>


</div>

